@import "../../scss/variables";
@import "../../scss/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $dark-bg-color;
  margin: 0 auto;
  overflow: hidden;
}

a {
  text-decoration: none;

  &:hover {
    cursor: crosshair;
  }
}

ul {
  list-style-type: none;
}

.App {
  margin: 0 auto;
  height: 100vh;
  transition: background-color 0.3s, color 0.3s;

  &.dark {
    background: $dark-bg-color;
    color: $dark-text-color;

    a {
      color: $dark-text-color;

      &:hover {
        color: #000;
        background: $dark-special-color;
      }
    }

    .About {
      .tag {
        background-color: $dark-special-color;
        color: $dark-bg-color;
      }
    }

    .Header {
      h1:hover,
      h5:hover {
        cursor: crosshair;
        color: $dark-special-color;
      }
    }

    .Contact {
      .contact-form {
        form {
          ul {
            li {
              input,
              textarea {
                border: 1px solid $dark-special-color;
              }
            }
          }

          .flat-button {
            background-color: $dark-special-color;
            color: $dark-bg-color;

            &:hover {
              background-color: darken($dark-special-color, 10%);
            }
          }
        }
      }
    }

    .Projects {
      .project-list {
        ul {
          li button {
            color: $dark-text-color;

            &::before {
              background-color: $dark-special-color;
            }
          }
        }
      }

      .item {
        hr {
          border: 0.5px solid $dark-special-color;
        }
      }

      .tags {
        .tag {
          background: none;
          border: 1px solid $dark-special-color;
          color: $dark-special-color;

          &:hover {
            background: $dark-special-color;
            border: 1px solid $dark-special-color;
            color: $dark-bg-color;
          }
        }
      }
    }

    #dark-mode {
      background: $dark-special-color;
      border: 1px solid $dark-special-color;
    }

    #header-4,
    #header-5 {
      color: transparent;
      -webkit-text-stroke: 1px $dark-special-color;
      text-stroke: 1px $dark-special-color;
    }
  }

  &.light {
    background: $light-bg-color;
    color: $light-special-color;

    a {
      color: $special-orange;

      &:hover {
        color: #fff;
        background: $special-orange;
      }
    }

    .Layout {
      border: 1px solid $special-orange;
    }

    .About {
      .tag {
        background-color: $special-orange;
        color: #fff;
      }
    }

    .Header {
      h1:hover,
      h5:hover {
        cursor: crosshair;
        color: $special-orange;
      }
    }

    .Contact {
      .contact-form {
        form {
          ul {
            li {
              input,
              textarea {
                border: 1px solid $special-orange;
              }
            }
          }

          .flat-button {
            background-color: $special-orange;
            color: $light-bg-color;

            &:hover {
              background-color: lighten($special-orange, 10%);
            }
          }
        }
      }
    }

    .Projects {
      .project-list {
        ul {
          li button {
            color: $light-special-color;

            &::before {
              background-color: $special-orange;
            }
          }
        }
      }

      .item {
        hr {
          border: 0.5px solid $special-orange;
        }
      }

      .tags {
        .tag {
          background: none;
          border: 1px solid $special-orange;
          color: $special-orange;

          &:hover {
            background: $special-orange;
            border: 1px solid $special-orange;
            color: $light-bg-color;
          }
        }
      }
    }

    #light-mode {
      background: $special-orange;
      border-color: $special-orange;

      &:hover {
        color: $special-orange;
      }
    }

    #dark-mode {
      border: 1px solid $light-special-color;
    }

    #header-4,
    #header-5 {
      color: transparent;
      -webkit-text-stroke: 1px $special-orange;
      text-stroke: 1px $special-orange;
    }
  }

  // @include respond-to("mobile") {
  //   background: red !important;
  // }
  // @include respond-to("tablet") {
  //   background: blue !important;
  // }
  // @include respond-to("desktop") {
  //   background: green !important;
  // }
}
