@import "../../scss/variables";
@import "../../scss/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $dark-bg-color;
  margin: 0 auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.App {
  margin: 0 auto;
  height: 100vh;
  transition: background-color 0.3s, color 0.3s;

  &.dark {
    background: $dark-bg-color;
    color: $dark-text-color;

    a {
      color: $dark-text-color;

      &:hover {
        color: #000;
        background: $dark-special-color;
      }
    }

    .About {
      .tag {
        background-color: $dark-special-color;
        color: $dark-bg-color;
      }
    }

    #header-4,
    #header-5 {
      color: transparent;
      -webkit-text-stroke: 1px $dark-special-color;
      text-stroke: 1px $dark-special-color;
    }
  }

  &.light {
    background: $light-bg-color;
    color: $light-special-color;

    a {
      color: $special-orange;

      &:hover {
        color: #fff;
        background: $special-orange;
      }
    }

    .Layout {
      border: 1px solid $special-orange;
    }

    .About {
      .tag {
        background-color: $special-orange;
        color: #fff;
      }
    }

    #header-4,
    #header-5 {
      color: transparent;
      -webkit-text-stroke: 1px $special-orange;
      text-stroke: 1px $special-orange;
    }
  }

  // @include respond-to("mobile") {
  //   background: red !important;
  // }
  // @include respond-to("tablet") {
  //   background: blue !important;
  // }
  // @include respond-to("desktop") {
  //   background: green !important;
  // }
}
