@import "/src/scss/variables";

.Resume {
  font-family: $font-symbols;
  margin: 5rem 5rem 0 0;
  max-width: 80%;

  ul {
    list-style-type: circle;
    margin-left: 0.75rem;

    li {
      color: darken($dark-text-color, 50%);
    }
  }

  hr {
    margin-bottom: 0.5rem;
    border: 1px solid $dark-special-color;
  }

  h3 {
    margin-top: 0.75rem;
  }

  h4 {
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
  }

  span {
    font-size: 0.75rem;

    &::after {
      content: ", ";
    }
  }

  p {
    font-size: 0.75rem;
  }

  li {
    font-size: 0.75rem;
  }

  .resume-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .about {
    p {
      color: darken($dark-text-color, 50%);
      margin-right: 5rem;
    }
  }
  .resume {
    margin-top: 2rem;

    svg {
      margin-left: 0.5rem;
    }

    a {
      color: $dark-special-color;
    }
  }
}
