@import '../../scss/mixins';
@import '../../scss/variables';

.Layout {
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  height: calc(100vh - 4rem);
  font-family: $font-text;

  .content {
    display: grid;
    grid-template-columns: 1fr 6fr;
    flex: 1;

    .Navbar {
      width: 200px;
      flex-shrink: 0;
    }
  }
}
