@import "../../scss/variables";

.Design {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  width: 100%;

  .color {
    color: $special-orange;
  }
  p {
    font-family: $font-symbols;
    z-index: 1;
  }
}
